$main-color: green;
$item-color: red;

h1 {
  color: $main-color;
}

p.price {
  color: $item-color;
}

// img {
//   height: 100px;
//   width: 100px;
// }

body {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  background-image: url('cork-wallet.png');
}

.well{
  height: 475px;
}

.well img {
  width: 100%;
}