<h1>Add a Product to Store</h1>

<%= form_tag '/add_product_form', method: :post do %>
  <div>
    <h1>Name: <input type="text", name="name"></h1>
  </div>

  <div>
    <h1>Price: <input type="text", name="price"></h1>
  </div>

  <div>
    <h1>Color: <input type="text", name="color"></h1>
  </div>

  <div>
    <h1>Description: <input type="text", name="description"></h1>
  </div>

  <input type="submit", value="Add product">
<% end %>