<h1>Add a new product</h1>

<%= form_tag "/products", method: :post do %>

  <div>
    Name: <input type="text", name="name">
  </div>  
  <div>
    Price: <input type="text", name="price">
  </div>
  <div>
    Color: <input type="text", name="color">
  </div>
  <div>
    Description: <input type="text", name="description">
  </div>
  <input type="submit", value="Add Product">
<% end %>