<h1>Product added to store</h1>

<h1>Name: <%= @product.name %></h1>
<h1>Price: <%= @product.price %></h1>
<h1>Color: <%= @product.color %></h1>
<h1>Description: <%= @product.description %></h1>

<a class="btn btn-default" href="/add_product_form" role="button">Add Another Product</a>
<a class="btn btn-default" href="/product_list" role="button">View Product List</a>